body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

.s1 {
  flex-basis: 8.3333333333%;
}

.s2 {
  flex-basis: 16.6666666667%;
}

.s3 {
  flex-basis: 25%;
}

.s4 {
  flex-basis: 33.3333333333%;
}

.s5 {
  flex-basis: 41.6666666667%;
}

.s6 {
  flex-basis: 50%;
}

.s7 {
  flex-basis: 58.3333333333%;
}

.s8 {
  flex-basis: 66.6666666667%;
}

.s9 {
  flex-basis: 75%;
}

.s10 {
  flex-basis: 83.3333333333%;
}

.s11 {
  flex-basis: 91.6666666667%;
}

.s12 {
  flex-basis: 100%;
}

.offset-s1 {
  margin-left: 8.3333333333%;
}

.offset-s2 {
  margin-left: 16.6666666667%;
}

.offset-s3 {
  margin-left: 25%;
}

.offset-s4 {
  margin-left: 33.3333333333%;
}

.offset-s5 {
  margin-left: 41.6666666667%;
}

.offset-s6 {
  margin-left: 50%;
}

.offset-s7 {
  margin-left: 58.3333333333%;
}

.offset-s8 {
  margin-left: 66.6666666667%;
}

.offset-s9 {
  margin-left: 75%;
}

.offset-s10 {
  margin-left: 83.3333333333%;
}

.offset-s11 {
  margin-left: 91.6666666667%;
}

.offset-s12 {
  margin-left: 100%;
}

@media screen and (min-width: 601px) {
  .m1 {
    flex-basis: 8.3333333333%;
  }

  .m2 {
    flex-basis: 16.6666666667%;
  }

  .m3 {
    flex-basis: 25%;
  }

  .m4 {
    flex-basis: 33.3333333333%;
  }

  .m5 {
    flex-basis: 41.6666666667%;
  }

  .m6 {
    flex-basis: 50%;
  }

  .m7 {
    flex-basis: 58.3333333333%;
  }

  .m8 {
    flex-basis: 66.6666666667%;
  }

  .m9 {
    flex-basis: 75%;
  }

  .m10 {
    flex-basis: 83.3333333333%;
  }

  .m11 {
    flex-basis: 91.6666666667%;
  }

  .m12 {
    flex-basis: 100%;
  }

  .offset-m1 {
    flex-basis: 8.3333333333%;
    margin-left: 8.3333333333%;
  }

  .offset-m2 {
    flex-basis: 16.6666666667%;
    margin-left: 16.6666666667%;
  }

  .offset-m3 {
    flex-basis: 25%;
    margin-left: 25%;
  }

  .offset-m4 {
    flex-basis: 33.3333333333%;
    margin-left: 33.3333333333%;
  }

  .offset-m5 {
    flex-basis: 41.6666666667%;
    margin-left: 41.6666666667%;
  }

  .offset-m6 {
    flex-basis: 50%;
    margin-left: 50%;
  }

  .offset-m7 {
    flex-basis: 58.3333333333%;
    margin-left: 58.3333333333%;
  }

  .offset-m8 {
    flex-basis: 66.6666666667%;
    margin-left: 66.6666666667%;
  }

  .offset-m9 {
    flex-basis: 75%;
    margin-left: 75%;
  }

  .offset-m10 {
    flex-basis: 83.3333333333%;
    margin-left: 83.3333333333%;
  }

  .offset-m11 {
    flex-basis: 91.6666666667%;
    margin-left: 91.6666666667%;
  }

  .offset-m12 {
    flex-basis: 100%;
    margin-left: 100%;
  }

  .container {
    margin: 0 auto;
    max-width: 1280px;
  }
}
@media screen and (min-width: 993px) {
  .l1 {
    flex-basis: 8.3333333333%;
  }

  .l2 {
    flex-basis: 16.6666666667%;
  }

  .l3 {
    flex-basis: 25%;
  }

  .l4 {
    flex-basis: 33.3333333333%;
  }

  .l5 {
    flex-basis: 41.6666666667%;
  }

  .l6 {
    flex-basis: 50%;
  }

  .l7 {
    flex-basis: 58.3333333333%;
  }

  .l8 {
    flex-basis: 66.6666666667%;
  }

  .l9 {
    flex-basis: 75%;
  }

  .l10 {
    flex-basis: 83.3333333333%;
  }

  .l11 {
    flex-basis: 91.6666666667%;
  }

  .l12 {
    flex-basis: 100%;
  }

  .offset-l1 {
    margin-left: 8.3333333333%;
  }

  .offset-l2 {
    margin-left: 16.6666666667%;
  }

  .offset-l3 {
    margin-left: 25%;
  }

  .offset-l4 {
    margin-left: 33.3333333333%;
  }

  .offset-l5 {
    margin-left: 41.6666666667%;
  }

  .offset-l6 {
    margin-left: 50%;
  }

  .offset-l7 {
    margin-left: 58.3333333333%;
  }

  .offset-l8 {
    margin-left: 66.6666666667%;
  }

  .offset-l9 {
    margin-left: 75%;
  }

  .offset-l10 {
    margin-left: 83.3333333333%;
  }

  .offset-l11 {
    margin-left: 91.6666666667%;
  }

  .offset-l12 {
    margin-left: 100%;
  }

  .container {
    margin: 0 auto;
    max-width: 1280px;
  }
}
@media screen and (min-width: 1201px) {
  .xl1 {
    flex-basis: 8.3333333333%;
  }

  .xl2 {
    flex-basis: 16.6666666667%;
  }

  .xl3 {
    flex-basis: 25%;
  }

  .xl4 {
    flex-basis: 33.3333333333%;
  }

  .xl5 {
    flex-basis: 41.6666666667%;
  }

  .xl6 {
    flex-basis: 50%;
  }

  .xl7 {
    flex-basis: 58.3333333333%;
  }

  .xl8 {
    flex-basis: 66.6666666667%;
  }

  .xl9 {
    flex-basis: 75%;
  }

  .xl10 {
    flex-basis: 83.3333333333%;
  }

  .xl11 {
    flex-basis: 91.6666666667%;
  }

  .xl12 {
    flex-basis: 100%;
  }

  .offset-xl1 {
    margin-left: 8.3333333333%;
  }

  .offset-xl2 {
    margin-left: 16.6666666667%;
  }

  .offset-xl3 {
    margin-left: 25%;
  }

  .offset-xl4 {
    margin-left: 33.3333333333%;
  }

  .offset-xl5 {
    margin-left: 41.6666666667%;
  }

  .offset-xl6 {
    margin-left: 50%;
  }

  .offset-xl7 {
    margin-left: 58.3333333333%;
  }

  .offset-xl8 {
    margin-left: 66.6666666667%;
  }

  .offset-xl9 {
    margin-left: 75%;
  }

  .offset-xl10 {
    margin-left: 83.3333333333%;
  }

  .offset-xl11 {
    margin-left: 91.6666666667%;
  }

  .offset-xl12 {
    margin-left: 100%;
  }

  .container {
    margin: 0 auto;
    max-width: 1280px;
  }
}
.d-none {
  display: none !important;
}

@media screen and (max-width: 601px) {
  .d-s-none {
    display: none !important;
  }

  .d-s-block {
    display: block !important;
  }
}
@media screen and (min-width: 601px) {
  .d-m-none {
    display: none !important;
  }

  .d-m-block {
    display: block !important;
  }
}
@media screen and (min-width: 993px) {
  .d-l-none {
    display: none !important;
  }

  .d-l-block {
    display: block !important;
  }
}
@media screen and (min-width: 1201px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-block {
    display: block !important;
  }
}
.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.m-m-auto {
  margin: auto !important;
}

.mt-m-auto,
.my-m-auto {
  margin-top: auto !important;
}

.mr auto,
.mx-m-auto {
  margin-right: auto !important;
}

.mb-m-auto,
.my-m-auto {
  margin-bottom: auto !important;
}

.ml-m-auto,
.mx-m-auto {
  margin-left: auto !important;
}

.m-l-auto {
  margin: auto !important;
}

.mt-l-auto,
.my-l-auto {
  margin-top: auto !important;
}

.mr auto,
.mx-l-auto {
  margin-right: auto !important;
}

.mb-l-auto,
.my-l-auto {
  margin-bottom: auto !important;
}

.ml-l-auto,
.mx-l-auto {
  margin-left: auto !important;
}

.m-xl-auto {
  margin: auto !important;
}

.mt-xl-auto,
.my-xl-auto {
  margin-top: auto !important;
}

.mr auto,
.mx-xl-auto {
  margin-right: auto !important;
}

.mb-xl-auto,
.my-xl-auto {
  margin-bottom: auto !important;
}

.ml-xl-auto,
.mx-xl-auto {
  margin-left: auto !important;
}

.col {
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #ff6347;
  border: 1px solid black;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.offset {
  margin-left: 8.3333333333%;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #727272;
  background-color: #bebebe;
  border-color: #bebebe;
  color: #727272;
  background-color: #bebebe;
  border-color: #bebebe;
}

.alert-danger {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #727272;
  background-color: #bebebe;
  border-color: #bebebe;
  color: #6a141b;
  background-color: #da3d4a;
  border-color: #da3d4a;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #a8a8a8;
  border: 1px solid transparent;
  outline: none;
  color: #727272;
  background-color: #bebebe;
  border-color: #bebebe;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #727272;
  background-color: #bebebe;
  border-color: #bebebe;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn:focus {
  border-color: #8f8f8f;
}

.btn-danger {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #a8a8a8;
  border: 1px solid transparent;
  outline: none;
  color: #727272;
  background-color: #bebebe;
  border-color: #bebebe;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #6a141b;
  background-color: #da3d4a;
  border-color: #da3d4a;
}
.btn-danger:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-danger:focus {
  border-color: #8f8f8f;
}

.btn-primary {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #a8a8a8;
  border: 1px solid transparent;
  outline: none;
  color: #727272;
  background-color: #bebebe;
  border-color: #bebebe;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #2e1192;
  background-color: #7451eb;
  border-color: #7451eb;
}
.btn-primary:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary:focus {
  border-color: #8f8f8f;
}

.btn-outline {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #a8a8a8;
  border: 1px solid transparent;
  outline: none;
  color: #727272;
  background-color: #bebebe;
  border-color: #bebebe;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #2e1192;
  background-color: #7451eb;
  border-color: #7451eb;
  background-color: transparent;
  background-image: none;
}
.btn-outline:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-outline:focus {
  border-color: #8f8f8f;
}

.shadow-none {
  box-shadow: none !important;
}

.shadow-s {
  box-shadow: -1px 12px 36px -9px rgba(0, 0, 0, 0.32) !important;
}

.shadow-m {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) !important;
}

.shadow-xl {
  box-shadow: -1px 12px 36px -9px rgba(0, 0, 0, 0.32) !important;
}

.navbar nav {
  background-color: orange;
}
.navbar nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar nav ul li {
  padding: 1% 1% 1% 1%;
}
.navbar nav ul li:hover {
  background-color: #d98c00;
}
.navbar nav ul li a {
  text-decoration: none;
  color: white;
}
.navbar nav ul li {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 35rem) {
  .navbar nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar nav ul li {
    border-bottom: none;
  }
}
@media screen and (min-width: 50rem) {
  .navbar nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.navbar-white {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dee2e6;
  z-index: 1;
}
.navbar-white nav {
  background-color: white;
}
.navbar-white nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-white nav ul li {
  padding: 1% 1% 1% 1%;
}
.navbar-white nav ul li:hover {
  background-color: #ececec;
}
.navbar-white nav ul li a {
  text-decoration: none;
  color: black;
}
.navbar-white nav ul li {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 35rem) {
  .navbar-white nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar-white nav ul li {
    border-bottom: none;
  }
}
@media screen and (min-width: 50rem) {
  .navbar-white nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.navbar-white nav ul li:hover {
  background-color: white;
}
.navbar-white nav > ul > li > a {
  color: #666666;
}
.navbar-white nav ul li a:hover {
  color: #000000;
  transition-duration: 0.7s;
}

.navbar-dark {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dee2e6;
  z-index: 1;
}
.navbar-dark nav {
  background-color: #323b47;
}
.navbar-dark nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-dark nav ul li {
  padding: 1% 1% 1% 1%;
}
.navbar-dark nav ul li:hover {
  background-color: #222831;
}
.navbar-dark nav ul li a {
  text-decoration: none;
  color: #5d718e;
}
.navbar-dark nav ul li {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 35rem) {
  .navbar-dark nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar-dark nav ul li {
    border-bottom: none;
  }
}
@media screen and (min-width: 50rem) {
  .navbar-dark nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.navbar-dark nav ul li:hover {
  background-color: #323b47;
}
.navbar-dark nav > ul > li > a {
  color: #5d718e;
}
.navbar-dark nav ul li a:hover {
  color: #96a5bb;
  transition-duration: 0.7s;
}

/*# sourceMappingURL=app.css.map */
