
@import "breakpoint";

$columns: 12 !default;
$gutter: 20px !default;


@mixin container($width: 100%, $max-width: 1280px) {
    margin: 0 auto;
    max-width: $max-width;
}

@mixin row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin col {
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0 $gutter * 0.5;
}

@mixin  cols_width($width: 1, $columns: $columns) {
    width: $width / $columns * 100%;
}

@mixin offset($cols: 1, $columns: $columns) {
    margin-left: $cols / $columns * 100%;
}

@for $i from 1 through $columns {
    .s#{$i} {
        @include cols_width($i);
    }
}

@for $i from 1 through $columns {
    .offset-s#{$i} {
        @include offset($i);
    }
}

// TABLET
@media screen and (min-width: $tablet) {
    @for $i from 1 through $columns {
        .m#{$i} {
            @include cols_width($i);

        }
    }

    @for $i from 1 through $columns {
        .offset-m#{$i} {
            @include cols_width($i);
            @include offset($i);
        }
    }

    .container {
        @include container(85%);
    }
}

// DESKTOP
@media screen and (min-width: $desktop) {
    @for $i from 1 through $columns {
        .l#{$i} {

            @include cols_width($i);
        }
    }

    @for $i from 1 through $columns {
        .offset-l#{$i} {
            @include offset($i);
        }
    }

    .container {
        @include container(70%);
    }
}

// LARGE DESKTOP
@media screen and (min-width: $largeDesktop) {
    @for $i from 1 through $columns {
        .xl#{$i} {
            @include cols_width($i);
        }
    }

    @for $i from 1 through $columns {
        .offset-xl#{$i} {
            @include offset($i);
        }
    }
    
    .container {
        @include container(90%);
    }
}